<br>
<br>
<div class="container-sm">
<h1 class="fw-lighter">Comedor gratuito</h1>
<p class="fs-5 fw-lighter">Un reconocido restaurante ha decidido tener una jornada de donación de comida a los residentes de la región con la única condición de que el plato que obtendrán los comensales será aleatorio. Dar click en "Iniciar" para empezar a preparar deliciosas recetas.</p>
<form action="/order-lunch" method="get">
<button class="btn btn-outline-primary">Iniciar</button>
</form>
</div>