<div class="container">
<br>
<br>
<h1 class="fw-lighter">Pestaña para elegir plato al azar</h1>
<form action="/order-lunch" method="post">
<div>
    <p class="fs-5">
        Con el siguiente boton se elegira al azar una de las recetas la cual sera envida automaticamente a la cocina para su preparacion.
    </p>
</div>
<br>
<br>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-outline-secondary">Elegir receta</button>
</div>
</form>
</div>