<nav class="navbar navbar-dark bg-dark nb-4">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold">Comedor Gratuito</a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active fs-6 text-white" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active fs-6 text-white" aria-current="page" href="/get-recipe">Lista de recetas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-6 text-white" href="/get-product">Bodega</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active fs-6 text-white" aria-current="page" href="/cook-order">Cocina</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active fs-6 text-white" aria-current="page" href="/buy-products">Comprar ingredientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active fs-6 text-white" aria-current="page" href="/order-lunch">Ordenar receta al azar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active fs-6 text-white" aria-current="page" href="/order-history">Historial de ordenes</a>
            </li>
        </ul>
    </div>
</nav>